.nav_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4em;
  width: 100%;
  background-color: $daytime-default-color;
  display: flex;
  justify-content: space-around;
  border: none;

  button {
    width: 20%;
    height: 100%;
    color: #ffd43b;
    background-color: $daytime-default-color;
    text-decoration: none;
    font-size: 2rem;
    padding: 10px;
    border: 1px solid $button-color;
    border-left: none;

    &:first-child {
      border-left: 1px solid $button-color;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  .nav_bar {
    max-width: 768px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset by 50% of its own width */
  }
}
